.resume-builder {
    border: 1px solid black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;

    .resume-builder-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .row {
            width: 100%;
            margin: 1rem;
        }
    }

    .resume-builder-column {
        display: flex;
        flex-direction: column;

        .education {
            margin: 0px 1rem;
        }
    }


    .resume-builder-main {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .content {
            width: 100%;
            margin: 0px 5px;
        }

        .delete-icons {
            width: 1.5rem;
            height: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }
    }
}